<div style="margin-top: 8vh">
  <mat-card *ngIf="!loggedIn">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="contact-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" name="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Parola" formControlName="password" type="password" name="name">
      </mat-form-field>
      <button class="full-width" mat-stroked-button color="accent" type="submit">Trimite</button>
    </form>
  </mat-card>
  
  <mat-card *ngIf="loggedIn">
    <div *ngIf="!matchPlaying">
      <form [formGroup]="scoringMatchForm" (ngSubmit)="onMatchStart()" class="contact-form">
        <mat-form-field class="full-width">
          <mat-select placeholder="Facultate" formControlName="team1" name="team1" required>
            <mat-option [value]="null">Alege</mat-option>
            <mat-option *ngFor="let university of universities" [value]="university">
              {{university}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <mat-select placeholder="Sport" formControlName="sport" name="sport" required>
            <mat-option [value]="null">Alege</mat-option>
            <mat-option *ngFor="let sport of sports" [value]="sport">
              {{sport}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <mat-select placeholder="Facultate" formControlName="team2" name="team2" required>
            <mat-option [value]="null">Alege</mat-option>
            <mat-option *ngFor="let university of universities" [value]="university">
              {{university}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="match_id" formControlName="match_id" name="match_id">
        </mat-form-field>
        <button mat-stroked-button color="accent" class="full-width" type="submit">Incepe meci</button>
      </form>
    </div>
    <div *ngIf="matchPlaying">
      <div class="row">
        <span class="col s6 m6 l6 center">
          {{ universities[matchPlaying.team1] }}
        </span>
        <span class="col s6 m6 l6 center">
          {{ universities[matchPlaying.team2] }}
        </span>
      </div>
      
      <div class="row">
        <button class="btn col s6 m6 l6" (click)="scor1(1)">+</button>
        <button class="btn col s6 m6 l6" (click)="scor2(1)">+</button>
      </div>
      
      <div class="row">
        <span class="col s6 m6 l6 center">
          {{ matchPlaying.score1 }}
        </span>
        <span class="col s6 m6 l6 center">
          {{ matchPlaying.score2 }}
        </span>
      </div>
      
      <div class="row">
        <button class="btn col s6 m6 l6" (click)="scor1(-1)">-</button>
        <button class="btn col s6 m6 l6" (click)="scor2(-1)">-</button>
      </div>

      <br><br>
      <button mat-stroked-button color="accent" class="full-width" (click)="doFinishGame()">Incheie meci</button>
    </div>
  </mat-card>
</div>