<div class="bg hide-on-small-only">
  <div class="row container">
    <div class="col s3">
      <ul>
        Pagini
        <li><a href="">Home</a></li>
        <li><a href="">Înscrie-te!</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="col s6">
      <!-- <p>Competitii</p>
      <ul class="col s6">
        <li><a href="">Basket</a></li>
        <li><a href="">Cross</a></li>
        <li><a href="">Dans battle</a></li>
        <li><a href="">Dans perechi</a></li>
        <li><a href="">Fotbal</a></li>
      </ul>
      <ul class="col s6">
        <li><a href="">Sah</a></li>
        <li><a href="">Stafeta</a></li>
        <li><a href="">Tenis de camp</a></li>
        <li><a href="">Tenis de masa</a></li>
        <li><a href="">Volei</a></li>
      </ul> -->
    </div>
    <div class="col s3 valign-wrapper">
      <div class="col s6 valign">
        <img src="../..//assets/images/logo_white.svg">
      </div>
      <div class="col s6 valign">
        <img src="../..//assets/images/pwdby.svg">
      </div>
    </div>
  </div>
  <p class="col s12 center">
    Copyright 2019 LSAC Bucuresti | All Rights Reserved
  </p>
</div>

<div class="bg hide-on-med-and-up">
  <div class="container row valign-wrapper">
    <div class="col s6 valign">
      <img src="../..//assets/images/logo_white.svg">
    </div>
    <div class="col s6 valign">
      <img src="../..//assets/images/pwdby.svg">
    </div>
  </div>
  
  
  <!-- <div class="row container">
    <div class="col s12">
      <p>Competitii</p>
      <ul class="col s6">
        <li><a href="">Basket</a></li>
        <li><a href="">Cross</a></li>
        <li><a href="">Dans battle</a></li>
        <li><a href="">Dans perechi</a></li>
        <li><a href="">Fotbal</a></li>
      </ul>
      <ul class="col s6">
        <li><a href="">Sah</a></li>
        <li><a href="">Stafeta</a></li>
        <li><a href="">Tenis de camp</a></li>
        <li><a href="">Tenis de masa</a></li>
        <li><a href="">Volei</a></li>
      </ul>
    </div>
  </div> -->
  <div class="row container">
    
    <div class="col s12">
      <p>Pagini</p>
      <ul class="col s12">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/register">Înscrie-te!</a></li>
        <li><a href="../../assets/regulament.pdf" target="_blank">Regulament</a></li>
      </ul>
    </div>
    
  </div>
  <p class="col s12 center">
    Copyright 2019 LSAC Bucuresti <br> All Rights Reserved
  </p>
</div>

