mat-grid-tile {
    height: auto;
}

.line-background {
    background: url(../../assets/images/sect_line.svg) 50% 50% no-repeat;
}

.btn {
    border-radius: 100px;
    background-color: #009494;
}