<div class="row container fullscreen-page hide-on-small-only" fxLayout="row" fxLayoutAlign="center center">
  <div class="col s12 m6 l6">
    <div class="container">
      <h3 class="warn-color left-align bold">Lorem ipsum dolor sit amet.</h3>
      <p class="left-align flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nesciunt odio vero, quo illum dolorem.</p>
      <button class="waves-effect waves-light btn col s12" style="margin-top: 10px;">Inscrieti-va</button>
    </div>
  </div>
  
  <div class="col s12 m6 l6">
    <div class="container">
      <img src="../../assets/images/Asset2.svg" style="height:100%;">
    </div>
  </div>
  
</div>


<div class="row container fullscreen-page hide-on-med-and-up" fxLayout="column" fxLayoutAlign="center center">
  <h3 class="warn-color center-align">Lorem ipsum dolor sit amet.</h3>
  <img class="responsive-img" src="../../assets/images/Asset2.svg" style="height:100%;">
  <p class="center-align flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nesciunt odio vero, quo illum dolorem.</p>
  <a class="waves-effect waves-light btn col s12" href="/register">Inscrieti-va</a>
</div>

<!-- DESPRE COMPETITIE -->
<div class="fullscreen-page" style="position: relative;">
  <div class="separator primary-background" style="position: relative;">
    <div class="warn-background" style="height: 3px; position: absolute; top: 50%; left: 50%; width: 90%; transform: translate(-50%, -50%); z-index: 0"></div>
    <p class="mat-headline primary-background accent-color" style="padding: 30px; width: fit-content; z-index: 900; margin: 0 auto; position: relative">Despre competitie</p>
  </div>
  
  <div class="container hide-on-small-only" style="position: absolute; top: 50%; width: 100%; left: 50%; transform: translate(-50%, -50%);">
    <div class="row flow-text">
      Poli Olympics, proiect realizat de Liga Studenților din Facultatea de Automatică și Calculatoare, urmărește să reunească studenții tuturor
      facultăților Universității Politehnica din București în cadrul unui eveniment dedicat în totalitate sportului. Acest eveniment constă în zece
      activități sportive: fotbal, baschet, volei, tenis de câmp, viteză (ștafetă), cross, tenis de masă, șah, dans pe perechi și dance battle.
    </div>
    <div class="row ">
      <div class="col s6 m3 l3">
        <img src="../../assets/images/sport.svg">
      </div>
      <div class="col s6 m3 l3">
        <img src="../../assets/images/echipe.svg">
      </div>
      <div class="col s6 m3 l3">
        <img src="../../assets/images/facultati.svg">
      </div>
      <div class="col s6 m3 l3">
        <img src="../../assets/images/participanti.svg">        
      </div>
    </div>
  </div>
  
  <div class="container hide-on-med-and-up" style="margin-top: 30px;">
    <div class="row flow-text">
      Poli Olympics, proiect realizat de Liga Studenților din Facultatea de Automatică și Calculatoare, urmărește să reunească studenții tuturor
      facultăților Universității Politehnica din București în cadrul unui eveniment dedicat în totalitate sportului. Acest eveniment constă în zece
      activități sportive: fotbal, baschet, volei, tenis de câmp, viteză (ștafetă), cross, tenis de masă, șah, dans pe perechi și dance battle.
    </div>
    <div class="row ">
      <div class="col s6 m3 l3">
        <img src="../../assets/images/sport.svg">
      </div>
      <div class="col s6 m3 l3">
        <img src="../../assets/images/echipe.svg">
      </div>
      <div class="col s6 m3 l3">
        <img src="../../assets/images/facultati.svg">
      </div>
      <div class="col s6 m3 l3">
        <img src="../../assets/images/participanti.svg">        
      </div>
    </div>
  </div>
</div>

<!-- REGULI DE BAZA -->
<div class="fullscreen-page" style="position: relative;">
  <div class="separator primary-background" style="position: relative;">
    <div class="warn-background" style="height: 3px; position: absolute; top: 50%; left: 50%; width: 90%; transform: translate(-50%, -50%); z-index: 0"></div>
    <p class="mat-headline primary-background accent-color" style="padding: 30px; width: fit-content; z-index: 900; margin: 0 auto; position: relative">Despre competitie</p>
  </div>
  
  <div class="container hide-on-small-only" style="position: absolute; top: 50%; width: 100%; left: 50%; transform: translate(-50%, -50%);">
    <div class="row">
      <p class="col s12 m6 l6 flow-text"> 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae error perferendis, illum nisi minus debitis. Explicabo eius consequuntur facilis sequi? Earum voluptatum, corporis excepturi vero facilis voluptas quam tempore vitae.Sint reprehenderit voluptatem beatae impedit voluptas quae blanditiis ullam assumenda in incidunt non eveniet accusantium delectus deserunt officia quas voluptatum sequi, placeat eius ratione fuga repellendus corporis exercitationem aspernatur. Blanditiis.
      </p> 
      <div class="col s12 m6 l6">
        <img style="margin-top: 20px;" src="../../assets/images/trophy.svg">        
      </div>
    </div>
  </div>
  
  <div class="container hide-on-med-and-up" style="margin-top: 30px;">
    <div class="row">
      <p class="col s12 m6 l6 flow-text"> 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae error perferendis, illum nisi minus debitis. Explicabo eius consequuntur facilis sequi? Earum voluptatum, corporis excepturi vero facilis voluptas quam tempore vitae.Sint reprehenderit voluptatem beatae impedit voluptas quae blanditiis ullam assumenda in incidunt non eveniet accusantium delectus deserunt officia quas voluptatum sequi, placeat eius ratione fuga repellendus corporis exercitationem aspernatur. Blanditiis.
      </p> 
      <div class="col s12 m6 l6">
        <img style="margin-top: 20px;" src="../../assets/images/trophy.svg">        
      </div>
    </div>
  </div>
</div>


<!-- PARTENERI -->
<div style="position: relative;">
  <div class="separator primary-background" style="position: relative;">
    <div class="warn-background" style="height: 3px; position: absolute; top: 50%; left: 50%; width: 90%; transform: translate(-50%, -50%); z-index: 0"></div>
    <p class="mat-headline primary-background accent-color" style="padding: 30px; width: fit-content; z-index: 900; margin: 0 auto; position: relative">Parteneri</p>
  </div>
  
  <div class="container" style="margin-top: 30px;">
    <div class="row">

      <div class="col s12 m6 l6">
        <img style="margin-top: 20px;" src="../../assets/images/trophy.svg">      
      </div>
    </div>
  </div>
</div>
