<nav class="primary-background" style="height: 12vh; width: 100%; margin-bottom: -6vh;">
    <div class="nav-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        
        <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions" 
        data-activates="nav-mobile" class="button-collapse hide-on-med-and-up"><i class="material-icons accent-color">menu</i></a>
        <img routerLink="/" style="height: 90%; padding-left: 15px;" class="hide-on-small-only" src="../assets/images/logo.svg">
        <img routerLink="/" style="height: 90%;"  class="hide-on-med-and-up" src="../assets/images/logo.svg">
        
        
        <div class="separator primary-background hide-on-small-only" style="position: relative; width: 100%; height: 100%;" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="warn-background" style="height: 3px; position: absolute; top: 50%; left: 50%; width: 90%; transform: translate(-50%, -50%); z-index: 0"></div>
            <a routerLink="/" routerLinkActive="active" class="mat-headline primary-background accent-color" style="padding: 30px; width: fit-content; z-index: 900; margin: 0 auto; position: relative; text-transform: uppercase;">Home</a>
            <a (click)="open()" routerLinkActive="active" class="mat-headline primary-background accent-color" style="cursor: pointer; user-select: none; padding: 30px; width: fit-content; z-index:900; margin: 0 auto; position: relative; text-transform: uppercase;">Competitii</a>
            <a routerLink="/register" routerLinkActive="active" class="mat-headline primary-background accent-color" style="padding: 30px; width: fit-content; z-index: 900; margin: 0 auto; position: relative; text-transform: uppercase;">Inscrieri</a>
        </div>
        <img (click)="facebookNav()" style="height: 60%; padding-right: 15px"  src="../assets/images/fb_nav.svg">        
        
        <!-- <li routerLinkActive="active"><a class="black-text" routerLink="asd">Home</a></li>
            <li routerLinkActive="active"><a class="black-text" routerLink="asd">Competitii</a></li>
            <li routerLinkActive="active"><a class="black-text" routerLink="asd">Inscrieri</a></li> -->
            
            <a href="#" class="hide-on-small-only right"><img style="height: 100%;" src="../assets/images/logo.svg"></a>        
            
            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a ><i class="material-icons" (click)="close()">close</i></a>
                </li>
                <li class="hide-on-med-and-up" routerLinkActive="active"><a class="black-text" routerLink="/" (click)="close()">Home</a></li>
                <li class="hide-on-med-and-up" routerLinkActive="active"><a class="black-text" routerLink="/register" (click)="close()">Inscrieri</a></li>
                <ul style="padding-left: 10px">
                    <p class="black-text">Competitii</p>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/0" (click)="close()">Fotbal</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/1" (click)="close()">Cros</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/2" (click)="close()">Ștafetă</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/3" (click)="close()">Șah</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/4" (click)="close()">Tenis de masă</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/5" (click)="close()">Tenis de câmp</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/6" (click)="close()">Volei</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/7" (click)="close()">Baschet</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/8" (click)="close()">Tenis cu piciorul</a></li>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/sports/9" (click)="close()">Dans Battle</a></li>
                </ul>

            </ul>
        </div>
    </nav>
    
    <router-outlet></router-outlet>
    <app-footer></app-footer>