/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Pattaya');

h1{font-size:2rem}
h2{font-size:1.5rem}
h3{font-size:1.25rem}
h4{font-size:1rem}
h5{font-size:.875rem}
h6{font-size:.75rem}
*{
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}