/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@include mat-core();
@include angular-material-theme($my-theme);

@import url('https://fonts.googleapis.com/css?family=Pattaya');

.accent-color {
    color: mat-color($my-theme-accent)
}

.warn-color {
    color: mat-color($my-theme-warn)
}

.primary-background {
    background: mat-color($my-theme-primary);
}

.warn-background {
    background: mat-color($my-theme-warn);
}

.fullscreen-page {
    min-height: 100vh;
}

.justify {
    text-align: justify;
}

h1{font-size:2rem}
h2{font-size:1.5rem}
h3{font-size:1.25rem}
h4{font-size:1rem}
h5{font-size:.875rem}
h6{font-size:.75rem}
*{
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}